@font-face{
    src: url(lato/Lato-Black.ttf);
    font-family: black;
}
@font-face{
    src: url(lato/Lato-Bold.ttf);
    font-family: bold;
}
@font-face{
    src: url(lato/Lato-Light.ttf);
    font-family: light;
}
@font-face{
    src: url(lato/Lato-Regular.ttf);
    font-family: regular;
}
@font-face{
    src: url(lato/Lato-Semibold.ttf);
    font-family: semibold;
}
@font-face{
    src: url(lato/Lato-Medium.ttf);
    font-family: medium;
}
@font-face{
    src: url(lato/Lato-Thin.ttf);
    font-family: thin;
}
*{
    font-family: medium;
}


body{
    background: #f3f3f3;
}
.navx{
    background: transparent;
    padding-top: 60px;
    z-index: 2;
}
.navx1{
    background: #876fc5;
    height: 100%;
    padding-top: 65px;
}
.img1{

}
nav{
    -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 0px 0 rgba(0,0,0,0.12), 0 0px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.14), 0 0px 0px 0 rgba(0,0,0,0.12), 0 0px 0px 0px rgba(0,0,0,0.2);

}
.p1{
    color: white;
    font-size: 60px;
    padding-top: 95px;
    margin-bottom: 0;
    margin-top: 0;
     font-family: regular;
}
.p2{
    color: white;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 70px;
}
.back1{
    background-image: url(img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 806px;
}
.back2{
    background-image: url(img2.png);
    height: 415px;
}
.a1{
    color: black;
    font-size: 18px;
}
.a1:hover{
    background-color: rgba(0,0,0,0);
    color: white;
}
.a3{
    color: white;
    font-size: 18px;
    line-height: 2;
    display: inline-block;
    text-decoration:none;
    cursor: pointer;
}
.a3:hover{
    background-color: rgba(0,0,0,0);
}
.a3:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width .3s ease-in-out;
}
.a3:hover:after,
.a3:focus:after {
    width: 100%;
}
.btn1{
    background: #5f3eb4;
    border-radius: 25px;
    width: 263px;
    height: 64px;
    padding: 16px
}
.btn1:hover{
    background: #91687d;
}
.btn1:focus{
    background: #91687d;
}
.nup{
    display: flex;
    justify-content: center;
}
.border1{
    background: #876fc5;
    width:350px;
    height: 415px;
}
.p5{
    color: white;
    font-size: 36px;
    margin: 0;
    text-align: -webkit-center;
    text-align: center;
    padding-top: 325px;
    font-family: semibold;
}
.p6{
    font-size: 18px;
    color: #5f3eb4;
    margin-top: 146px;
}
.p7{
    font-size: 18px;
    color: black;
}
.span1{    
    font-size: 24px;
    color: #5f3eb4;
    font-family: bold;
}
.span2{
    font-size: 24px;
    font-family: bold;
}
.ser{
height: 200px;
}
.p8{
    font-size: 18px;
    color: black; 
    font-family: light;
}
.sec_ris{
    margin-top: 45px;
}
.img5{
    height: 70px;
}
.p9{
    font-size: 24px;
    color: #3f2789; 
    font-family: light;
}
.card1{
    min-height: 455px;
    background: #e2e2e2;
}
.ha1{
        height: 115px;
}
.ha2{
    height: 175px;
    overflow: hidden;
}
.carg{
    height: 250px;
}
.card-content1 {
    padding: 12px !important;
    border-radius: 0 0 2px 2px;
}
.a2{
    color: black !important;
    font-size: 14px;
    margin-right: 0px !important;
    font-family: light;
}
.a2:hover{    
    color: #8671c7 !important;
}
.act1{
    text-align: -webkit-right;
    text-align: right;
}
.p10{
    font-size: 18px;
    font-family: semibold;
}
.p11{
    font-size: 14px;
    font-family: light;
}
.i1{
}
.data1{
    height: 60px;
    width: 60px;
    background: #8671c7;
    position: absolute;
    z-index: 1;
    margin-left: 15px;
}
.p12{
    font-size: 14px;
    color: white;
    text-align: -webkit-center;
    padding-top: 8px;
}
.ots{
    margin: 0 !important;
    padding: 0 !important;
}
.area{
    border: 1px solid white !important;
    border-radius: 30px !important;
    padding-left: 35px !important;
    color: white;
    min-height: 117px !important;
    font-size: 24px !important;
}
.area1{
    border: 1px solid white !important;
    border-radius: 30px !important;
    padding-left: 35px !important;
    color: white;
    min-height: 61px;
    font-size: 24px !important;
}
.area2{
    border: 1px solid white !important;
    border-radius: 30px !important;
    padding-left: 35px !important;
    color: white;
    min-height: 61px;
    font-size: 24px !important;
}
::-webkit-input-placeholder { /* WebKit browsers */
   color:    white; font-size: 18px;font-family: light;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white; font-size: 18px;font-family: light;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white; font-size: 18px;font-family: light;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    white; font-size: 18px;font-family: light;
}

.p13{
    font-size: 36px;
    color: #8671c7 ;
    font-family: light;
}
.p14{
    font-size: 24px;
    color: white ;
    font-family: light;
}
.p15{
    font-size: 30px;
    color: black ; 
    font-family: light;
}
.form1{
}
.backf{
    min-height: 630px !important;
    height: auto;
    background-color: rgb(134, 113, 199);
    padding-left: 30px !important;
    position: absolute;
    width: 42% !important;
    max-width: 630px;
    margin-top: -150px;
    padding-right: 90px;
}
.footer{
    background: #dadada;
    margin-top: 210px;
    height: auto;
    min-height: 494px;
}
.row{
    margin-bottom: 0px !important;
}
.btn2{
    width: 268px;
    height: 64px;
    border-radius: 30px;
    background-color: rgb(243, 243, 243);
    padding: 16px;
    font-size: 18px;
    color: #8671c7;
    font-family: light;
}

.btn2:hover{
    background-color: rgb(134, 113, 199);
    color: white;
}

.iu{
    text-align: -webkit-right;
    text-align: right;
    margin-top: 15px;
}
@media only screen and (max-width: 992px){
    .p22 {
    font-size: 18px;
    width: 260px;
}
    .p31 {
    color: #6a52a2;
    font-size: 14px !important;
    padding-top: 15px;
}
    .fack {
    background: #dadada;
    margin-top: 0px !important;
    width: 260px !important;
}
    .cr3 {
    height: auto !important;
}
    .a55 {
    color: #dadada;
    font-size: 18px !important;
    margin-top: 10px;
}
    .p30 {
    font-size: 18px !important;
    color: white !important;
    height: 125px;
}
    .cr1 {
    background: #897ac7;
    height: auto;
    min-height: auto !important;
}
    .p25 {
    font-size: 25px !important;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 160px;
}
    .farton {
    background: #897ac7;
    width: 100% !important;
    position: absolute;
    top: 130px !important;
    height: auto;
    min-height: 497px;
    margin-left: 0 !important;
}
    .p1 {
    color: white;
    font-size: 24px;
    padding-top: 90px;
    margin-bottom: 0;
    margin-top: 0;
}
    .p2 {
    color: white;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 70px;
}
    .border1 {
    background: #876fc5;
    width: 100%;
    height: auto;
}
    .backf {
    min-height: 800px !important;
    height: auto;
    background-color: rgb(134, 113, 199);
    padding-left: 30px !important;
    position: relative;
    width: 100% !important;
    margin-top: -200px;
    padding-right: 90px;
}
    .area1 {
    border: 1px solid white !important;
    border-radius: 30px !important;
    padding-left: 35px !important;
    color: white;
    min-height: 61px;
    font-size: 24px !important;
        width: 100%!important;
}
    .area2 {
    border: 1px solid white !important;
    border-radius: 30px !important;
    padding-left: 35px !important;
    color: white;
    min-height: 61px;
    font-size: 24px !important;
width: 100%!important;
}
    .area {
    border: 1px solid white !important;
    border-radius: 30px !important;
    padding-left: 35px !important;
    color: white;
    min-height: 117px !important;
    font-size: 24px !important;
width: 100%!important;
}
    .btn2 {
    width: auto;
    height: auto;
    border-radius: 30px;
    background-color: rgb(243, 243, 243);
    padding: 0px 25px 0px 25px;
    font-size: 18px;
    color: #8671c7;
}
    .img3{
        min-height: 608px !important;
         max-height: 608px !important;
    }
    .fart {
    background: #897ac7;
    width: 100% !important;
    position: absolute;
    top: 129px;
    height: auto;
    min-height: 585px;
    margin-left: 0 !important;
}
  .fart1 {
    background: #897ac7;
    width: 100% !important;
    height: auto;
    min-height: 100% !important;
    position: relative !important;
    top: -6px !important;
    word-break: break-word;
}  
    .img4{
        width: 100%;
    }
    .navx1 {
    background: #876fc5;
    height: 130px;
    padding-top: 65px;
}
    .map-responsive {
    position: relative;
    height: 0;
    padding-bottom: 570px !important;
}
    
    
    
}

.map-responsive {
    position: relative;
    height: 0;
    padding-bottom: 390px;
}

.img3{
    width: 100%;
    height: auto;
    min-height: 585px ;
}
.fart{
    background: #897ac7;
    width: 495px;
    position: absolute;
    top: 129px;
    height: auto;
    min-height: 585px;
    margin-left: 50.88%;
}
.p16{
    font-size: 24px;
    color: white;
    margin-top: 150px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: medium;
}
.p17{
    font-size: 18px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    font-family: regular;
}

.fart1{
    background: #897ac7;
    width: 495px;
    height: auto;
    min-height: 230px;
    position: relative;
    top: -21px;
}
.p19{
    font-size: 30px;
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 90px;
    font-family: light;
}
.p18{
    font-size: 18px;
    color: black;
    margin-top: 55px;
    font-family: medium;
}
.p20{
    font-size: 24px;
    color: #8a7bc7;
    font-family: medium;
    letter-spacing: 1px;
}
.p21{
    font-size: 24px;
    font-family: light;
}
.galka{
    padding-right: 30px;
    position: relative;
    top: 10px;
}
.con1{
    border-radius: 0px !important;
    height: auto;
    min-height: 500px;
    background: #dadada;
}
.p22{
    font-size: 18px;
}
.s2{
    font-size: 18px;
    color: #5f3eb4;
    font-family: bold;
}
.p23{
   font-size: 30px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
        font-family: light;
}
.p24{
      font-size: 18px;
    color: white;
    padding-left: 30px;
    padding-right: 30px; 
        font-family: light;
}
.a5{
    color: #dadada;
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px;
        font-family: light;
}
.a5:hover{
    color:#5f3eb4;
}
.a55{
    color: #dadada;
    font-size: 24px;
    margin-top: 10px;
        font-family: light;
}
.a55:hover{
    color:#5f3eb4;
}
.img6{
    max-height: 580px !important;
    min-height: 580px !important;
    width: 100%;
    height: auto;
}
.p25{
    font-size: 30px;
    color: white;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 300px;
}
.farton{
    background: #897ac7;
    width: 495px;
    position: absolute;
    top: 129px;
    height: auto;
    min-height: 580px;
    margin-left: 50.88%;
}
.p26{
    font-size: 24px;
    color: #897ac7;
}
.cht{
    border-left: 4px solid #897ac7;
    padding-left: 20px;
    margin-left: 60px;
}
.p27{
    font-size: 16px;
        font-family: light;
}
.cht1{
    background: #897ac7;
    margin-top: 130px;
}
.img7{
    padding: 15px;
}
.p28{
    font-size: 14px;
    color: #f4f4f4;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 40px;
        font-family: light;
}
.cr1{
    background: #897ac7;
    height: auto;
    min-height: 500px;
}
.p30{
    font-size: 30px;
    color: white !important;
    height: 125px;
        font-family: light;
}
.cr2{
    height: auto;
    min-height: 200px;
}
.cr3{
 height: 350px;

}
.n1{
        text-align: right;
}
.p31{
    color: #6a52a2;
    font-size: 24px;
    padding-top: 15px;
}
.p32{
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.fack{
    background: #dadada;
    margin-top: 60px;
}