    @font-face {
        font-family: "Roboto";
        src: url(../fonts/Roboto.ttf);
    }
    
    @font-face {
        font-family: "MuseoCyrl500";
        src: url(../fonts/MuseoCyrl500.otf);
    }
    
    @font-face {
        font-family: "MuseoCyrl900";
        src: url(../fonts/MuseoCyrl900.otf);
    }
    
    @font-face {
        font-family: "MuseoCyrl100";
        src: url(../fonts/MuseoCyrl100.otf);
    }
    
    @font-face {
        font-family: "Robotolight";
        src: url(../fonts/Robotolight.ttf);
    }
    
    @font-face {
        font-family: "CL";
        src: url(../fonts/Circe-Light.ttf);
    }
    
    .nav-link {
        text-transform: uppercase;
        font-family: "MuseoCyrl100";
        font-size: 14px;
        line-height: 42px;
        color: #000000 !important;
        text-align: center;
    }
    
    .img_nav {
        position: absolute;
        z-index: -1;
        right: 0;
        top: 0;
    }
    
    .navbar {
        padding-top: 41px;
    }
    
    #header {
        margin-top: 112px;
    }
    
    .header_span {
        background-image: url(..//img/Rectangle.png);
        transform: rotate(-1.81deg);
    }
    
    .header_img {
        z-index: -1;
        position: absolute;
        bottom: 0;
    }
    
    .hover_a_nav {
        padding-right: 50px;
    }
    
    .h1_header {
        font-family: "MuseoCyrl900";
        font-size: 30px;
        line-height: 42px;
        text-transform: uppercase;
        color: #313B87;
        font-weight: 900;
    }
    
    .hover_a_nav:hover:after {
        position: absolute;
        bottom: 28px;
        display: block;
        content: "";
        background: rgba(241, 228, 250, 0.67);
        transform: rotate(-1.81deg);
        transition: width .3s ease-in-out;
        border-radius: 40px;
        margin: 0 auto;
        z-index: -1;
        width: 105px;
        height: 9px;
    }
    
    .btn_main {
        background: linear-gradient(100.14deg, #453F8D 24.56%, #CCA2C9 99.38%);
        border-radius: 60px;
        width: 286px;
        height: 72px;
        border-color: transparent !important;
        border: 0px solid transparent !important;
        font-family: "MuseoCyrl100";
        font-size: 16px;
        line-height: 42px;
        /* identical to box height, or 262% */
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 42px;
    }
    
    .btn_main:hover,
    .btn_main_footer:hover,
    .btn_main_footer_2:hover,
    .btn_footer_submit:hover,
    .omsk:hover,
    .tomsk:hover {
        -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
        box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
    }
    
    .omsk:hover,
    .tomsk:hover {
        fill: #CCA2C9;
        stroke: #453F8D;
    }
    
    .btn_main_footer {
        background: linear-gradient(100.14deg, #453F8D 24.56%, #CCA2C9 99.38%);
        border-radius: 60px;
        width: 452px;
        height: 73px;
        border-color: transparent !important;
        border: 0px solid transparent !important;
        font-family: "MuseoCyrl100";
        font-size: 16px;
        line-height: 42px;
        /* identical to box height, or 262% */
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 19px;
    }
    
    .btn_main_footer_2 {
        background: linear-gradient(100.14deg, #453F8D 24.56%, #CCA2C9 99.38%);
        border-radius: 60px;
        width: 100%;
        height: 73px;
        border-color: transparent !important;
        border: 0px solid transparent !important;
        font-family: "MuseoCyrl100";
        font-size: 16px;
        line-height: 42px;
        /* identical to box height, or 262% */
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 19px;
    }
    
    .circle_text {
        font-family: "CL";
        font-size: 16px;
        line-height: 30px;
        /* or 187% */
        color: #000000;
        padding-right: 80px;
        margin-top: 34px;
    }
    
    .left_header {
        position: absolute;
        left: 0;
    }
    
    .about_p {
        font-family: "CL";
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        color: #453F8D;
    }
    
    .pd {
        padding-top: 110px;
    }
    /* #about_school {
    background-image: url(../img/Groupschool.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
} */
    
    .about_school_img {
        position: absolute;
        width: 100%;
        min-height: 720px;
        height: auto;
    }
    
    .maps_h1 {
        font-family: "MuseoCyrl500";
        font-size: 48px;
        line-height: 55px;
        /* or 115% */
        color: #2E4188;
    }
    
    .maps_item {
        position: absolute;
        right: 0;
    }
    
    .ul_pd {
        font-family: "CL";
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        color: #000000;
    }
    
    svg {}
    
    .maps_title {
        font-family: "MuseoCyrl500";
        font-size: 48px;
        line-height: 55px;
        /* or 115% */
        color: #2E4188;
        font-weight: 900;
    }
    
    .flex_center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .uchat_img {
        width: 100%;
        max-width: 1106px;
    }
    
    .img_news_btn {
        width: auto !important;
        position: relative;
        left: 10px;
    }
    
    #ucast {
        padding-top: 37px;
    }
    
    .btn_a {
        display: flex;
        justify-content: flex-end;
        margin-top: 42px;
        font-family: "MuseoCyrl100";
        font-size: 22px;
        line-height: 20px;
        letter-spacing: 0.2em;
        color: #453F8D;
        position: relative;
        right: 10px;
    }
    
    .crd_news {
        max-width: 337px;
        background: #FFFFFF;
        border-radius: 0px 0px 8px 8px;
        border: 0px solid transparent;
    }
    
    .card_img_cropp {
        height: 200px;
        width: 337px;
        overflow: hidden;
    }
    
    a:hover {
        text-decoration: none;
        color: #453F8D;
    }
    
    .zag_cropp {
        height: 85px;
        overflow: hidden;
    }
    
    .body_cropp {
        height: 80px;
        overflow: hidden;
    }
    
    .zag {
        font-family: "MuseoCyrl500";
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        color: #2E4188;
        margin-bottom: 19px;
        margin-top: 26px;
    }
    
    .body {
        font-family: "CL";
        font-size: 14px;
        line-height: 20px;
        /* or 143% */
        color: #000000;
    }
    
    .owl-prev {
        background-image: url("../img/right-arrow.png") !important;
        background-size: cover !important;
        width: 42px;
        height: 42px;
        position: relative;
        top: -300px;
    }
    
    .owl-next {
        background-image: url("../img/left-arrow.png") !important;
        background-size: cover !important;
        width: 42px;
        height: 42px;
        position: absolute;
        right: 0;
        top: 196px;
    }
    
    .owl-nav {
        height: 0px;
    }
    
    .news_back {
        position: absolute;
        width: 100%;
        z-index: -1;
        height: auto;
        max-height: 1080px;
    }
    
    .footer_back {
        position: absolute;
        width: 100%;
        z-index: -1;
        height: auto;
        max-height: 630px;
    }
    
    .footer_title {
        font-family: "MuseoCyrl500";
        font-size: 40px;
        line-height: 30px;
        /* identical to box height, or 75% */
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    
    .form1,
    .form2 {
        height: 46px;
    }
    
    .copy {
        font-family: "CL";
        font-size: 12px;
        line-height: 42px;
        /* or 350% */
        text-align: center;
        color: #000000;
        margin: 0;
    }
    
    .footer_title_1,
    .footer_title_2 {
        font-family: "MuseoCyrl100";
        font-size: 20px;
        line-height: 30px;
        /* identical to box height, or 150% */
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    
    .footer_title_2_2 {
        padding-top: 25px !important;
    }
    
    .footer_title_3 {
        padding-bottom: 35px;
    }
    
    .email,
    .phone {
        padding-right: 20px;
    }
    
    .footer_title_1,
    .footer_title_2 {
        margin: 0;
    }
    
    .footer_title_2 {
        padding-top: 20px;
    }
    
    .footer_pad {
        padding-top: 145px;
    }
    
    .table td,
    .table th {
        padding: 0;
        border-top: 0px solid #dee2e6;
    }
    
    .form-control:focus {
        color: #495057;
        background-color: transparent;
        border-color: #2E4188;
        outline: 0;
        box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25);
    }
    
    .form-control {
        border: 1px solid #2E4188;
        box-sizing: border-box;
        border-radius: 0px;
        background: transparent;
        max-width: 564px;
    }
    
    .btn_footer_submit {
        width: 326.92px;
        height: 59px;
        background: #7986B7;
        border-radius: 5px;
        border: 0px;
        cursor: pointer;
        font-family: "MuseoCyrl100";
        font-size: 20px;
        line-height: 42px;
        /* identical to box height, or 210% */
        text-align: center;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        margin-top: 24px;
    }
    
    .form2 {
        margin-top: 16px;
        margin-bottom: 16px;
    }
    
    .form3 {
        min-height: 104px;
    }
    
    .footer_form_title {
        font-family: "MuseoCyrl500";
        font-size: 30px;
        line-height: 40px;
        /* or 133% */
        letter-spacing: 0.1em;
        color: #2E4188;
        margin: 0;
        padding-bottom: 24px;
    }
    
    .body_main_news {
        font-family: "MuseoCyrl900";
        font-size: 50px;
        line-height: 30px;
        /* identical to box height, or 60% */
        letter-spacing: 0.3em;
        color: rgba(201, 189, 227, 0.31);
        margin-top: 324px;
        margin-top: 271px;
        margin-bottom: 52px;
    }
    
    .orga_title {
        font-family: "MuseoCyrl900";
        font-size: 35px;
        line-height: 30px;
        /* identical to box height, or 86% */
        letter-spacing: 0.3em;
        color: rgba(46, 65, 136, 0.51);
        margin-top: 340px;
        text-align: center;
    }
    
    .grid_part {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
    }
    
    .orga_title_1 {
        font-family: "MuseoCyrl900";
        font-size: 35px;
        line-height: 30px;
        /* identical to box height, or 86% */
        letter-spacing: 0.3em;
        color: rgba(46, 65, 136, 0.51);
        margin-top: 150px;
        text-align: center;
    }
    
    .p_1 {
        margin-top: 30px;
    }
    
    .about_p_2 {
        font-family: "CL";
        font-size: 16px;
        line-height: 30px;
        /* or 187% */
        color: #313B87;
        margin-top: 59px;
    }
    
    .li_pd {
        padding-bottom: 25px;
        margin-left: 100px;
    }
    
    .ul_pd {
        list-style-image: url(../img/33123123vectir.png);
    }
    
    .li_up {
        position: relative;
        top: -7px;
    }
    
    .omsk_text {
        font-family: "MuseoCyrl100";
        font-size: 24px;
        line-height: 42px;
        /* identical to box height, or 175% */
        letter-spacing: 0.15em;
        color: #FFFFFF;
    }
    
    .part_img {
        padding: 20px;
    }
    
    .news_solo_title {
        font-family: "MuseoCyrl500";
        font-size: 24px;
        line-height: 42px;
        /* or 175% */
        text-transform: uppercase;
        color: #2E4188;
        margin-top: 95px;
    }
    
    .nav_12 {
        padding-top: 0px !important;
        height: 92px;
    }
    
    #part {
        padding-bottom: 110px;
    }
    
    .maps_title_992 {
        display: none;
    }
    
    .img_solo {
        width: 100%;
        margin-top: 76px;
    }
    
    .line_news {
        position: absolute;
        bottom: -100px;
        right: -70px;
    }
    
    .news_solo_body>p {
        font-family: "CL";
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-top: 75px;
    }
    
    .city_title {
        font-family: "MuseoCyrl500";
        font-size: 36px;
        line-height: 40px;
        /* or 111% */
        text-align: center;
        color: #2E4188;
        margin: 0;
        padding-top: 78px;
    }
    
    .date_title {
        font-family: "MuseoCyrl500";
        font-size: 36px;
        line-height: 40px;
        /* or 111% */
        text-align: center;
        color: #2E4188;
        margin: 0;
        padding-top: 30px;
        padding-bottom: 120px;
        background-image: url(../img/Rectanglecity.png);
        background-repeat: no-repeat;
        background-position: 50% 13%;
    }
    
    .img_mero {
        width: 100%;
        max-width: 200px;
    }
    
    .grey_filter {
        width: 256px;
        height: 256px;
        overflow: hidden;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .sp_img_title {
        max-width: 256px;
        max-height: 256px;
    }
    
    .city_pop {
        font-family: "MuseoCyrl500";
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 111% */
        text-align: center;
        color: #FFFFFF;
    }
    
    .speacer_title {
        font-family: "MuseoCyrl500";
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 111% */
        text-align: center;
        color: #7986B7;
        margin-top: 58px;
        margin-bottom: 41px;
    }
    
    .sp_name {
        font-family: "MuseoCyrl500";
        font-size: 24px;
        line-height: 30px;
        /* or 125% */
        text-align: center;
        color: #2E4188;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .opis_name {
        font-family: "CL";
        font-size: 18px;
        line-height: 30px;
        /* or 167% */
        text-align: center;
        color: #000000;
        font-weight: 900;
        margin-bottom: 30px;
    }
    
    .anketa {
        font-family: "MuseoCyrl500";
        font-size: 20px;
        line-height: 42px;
        /* identical to box height, or 210% */
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #2E4188;
        margin-top: 85px;
    }
    
    .fl_center {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #speacers {
        margin-top: 20px;
        margin-bottom: 80px;
        background-image: url(../img/Rectanglesp.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .city_down_pop {
        font-family: "CL";
        font-size: 20px;
        line-height: 40px;
        /* or 200% */
        text-align: center;
        color: #FFFFFF;
    }
    
    .city_icon {
        width: 38px;
        height: 38px;
        vertical-align: initial;
    }
    
    .back_city {
        background: rgba(46, 65, 136, 0.77);
        position: absolute;
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    /* media */
    
    @media (min-width: 1600px) {
        .container {
            max-width: 1560px;
        }
    }
    
    @media screen and (max-width: 1600px) {
        .part_img {
            width: 100%;
        }
    }
    
    @media screen and (max-width:992px) {
        .city_pop {
            font-size: 16px;
        }
        .city_down_pop {
            font-size: 14px;
        }
        .line_news {
            position: absolute;
            bottom: -70px;
            right: 0;
            width: 100%;
        }
        .header_img {
            display: none;
        }
        .h1_header {
            background-image: url(../img/Rectangle.png);
            background-repeat: repeat;
            background-size: auto;
            font-size: 20px;
            line-height: 42px;
            text-transform: uppercase;
        }
        .btn_main {
            width: 100%;
        }
        .li_pd {
            padding-bottom: 10px;
            margin-left: 0px;
        }
        .about_school_img {
            display: none;
        }
        #about_school {
            background-image: url(../img/Groupschool.png);
            background-position: center;
            background-size: cover;
        }
        .fullmap {
            display: none;
        }
        .maps_title {
            display: none;
        }
        .maps_title_992 {
            display: block;
            font-family: "MuseoCyrl500";
            font-size: 32px;
            line-height: 55px;
            /* or 115% */
            color: #2E4188;
            font-weight: 900;
            padding: 20px;
            text-align: center;
        }
        .body_main_news {
            margin-top: 65px;
            font-size: 30px;
            text-align: center;
        }
        .orga_title {
            margin-top: 40px;
            font-size: 20px;
        }
        .footer_back {
            display: none;
        }
        #footer {
            background-image: url(../img/footer.png);
            background-size: cover;
            background-position: inherit;
        }
        .orga_title_1 {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.3em;
            color: rgba(46, 65, 136, 0.51);
            margin-top: 20px;
            text-align: center;
        }
        .grid_part {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
        }
        .img_nav {
            height: 710px;
        }
        .part_img {
            padding: 0px;
            width: 85px;
        }
        .circle_text {
            font-family: "CL";
            font-size: 16px;
            line-height: 30px;
            color: #000000;
            padding-right: 0;
            margin-top: 34px;
        }
        .pd {
            padding-top: 30px;
        }
        .owl-nav {
            height: 0px;
            display: none;
        }
        .card_img_cropp {
            height: auto;
            width: 100%;
            overflow: hidden;
        }
        .footer_title {
            font-family: "MuseoCyrl500";
            font-size: 26px;
            line-height: 30px;
            letter-spacing: 0.1em;
            color: #FFFFFF;
            text-align: center;
        }
        .footer_title_1,
        .footer_title_2 {
            margin: 0;
            text-align: center;
        }
        .btn_main_footer,
        .btn_footer_submit {
            width: 100%;
        }
    }